.main-section {

	display: flex;
	flex-direction: column;
	width: fit-content;
	text-transform: uppercase;
	box-sizing: border-box;
	&__button {
		width: 502px;

	}
	&__radio {
		justify-content: center;
	}
}

.message {
	flex-grow: 3;
	font-weight: 700;
	height: 700px;
};
