.filter {
	display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  user-select: none;
  cursor: pointer;
	margin-inline-start: 8px;
	font-size: 14px;
	&:hover {
		background-color: #F1FCFF;
	}
}
