.App {
	width: 754px;
  margin: 0 auto;
}


.app-header {
	padding: 50px 0;
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Open Sans';
    padding: 0 0 50px;
    margin: 0;
		background: #F3F7FA
}
