.filters-title {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.5px;
	text-transform: uppercase;

	margin: 10px 0;
	padding: 0 20px;
}

.filters-container {
	width: 232px;
	height: 252px;
}
