.ticket-header {
	display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
	&__price {
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 24px;
		display: flex;
		align-items: center;
		color: #2196f3;
	}
}
